@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --main-text: hsl(0, 6%, 24%);

  --background-gradient: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  --button-gradient: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

main {
  display: flex;
  flex-direction: column;
}

body {
  height: 100%;
  background-image: var(--background-gradient);
  font-family: "Josefin Sans", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

.image {
  display: block;
}

.image__logo {
  height: 25px;
  margin: 2rem 0 2rem 2rem;
}

.image__hero {
  width: 100%;
}

.image__hero--desktop {
  display: none;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 1em 0 1em;
  font-size: 62px;
}

span {
  font-weight: 600;
  color: var(--main-text);
  letter-spacing: 8px;
}

span:first-child {
  font-weight: 300;
  color: var(--desaturated-red);
}

.paragraph {
  text-align: center;
  color: var(--desaturated-red);
  margin: 1rem 3rem 3rem 3rem;
  line-height: 1.5;
}

input {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 3.5rem;
  border: var(--desaturated-red) 1px solid;
  border-radius: 2em;
  background-color: inherit;
  text-indent: 24px;
}

.error {
  border-color: red;
}

input:focus {
  outline: none !important;
  box-shadow: 0 0 10px #719ece;
}

::placeholder {
  color: var(--desaturated-red);
  opacity: 0.5;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

.slider {
  position: relative;
}

.slider--email {
  opacity: 0.5;
}

.slider--error {
  position: absolute;
  top: 17px;
  display: none;
  right: 140px;
}

.slider--icon-arrow {
  background-image: var(--button-gradient);
  width: 70px;
  border-radius: 2em;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: calc((100vw - 80%) / 2);
}

.slider--icon-arrow:hover {
  cursor: pointer;
  background-image: none;
  box-shadow: var(--desaturated-red) 0px 5px 15px;
  background-color: hsl(0, 80%, 86%);
}

@media (min-width: 750px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  .main--left {
    background-image: url(./images/bg-pattern-desktop.svg);
    background-color: var(--background-gradient);
    height: 100%;
    display: flex;
    align-items: center;
  }

  body {
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .header {
    align-items: start;
    font-size: clamp(32px, 6vw, 80px);
  }

  .paragraph {
    text-align: start;
    font-size: clamp(12px, 14px, 16px);
    margin-right: clamp(50px, 100px, 150px);
  }

  .slider {
    margin-right: clamp(50px, 100px, 150px);
  }

  .image__hero {
    display: none;
  }
  .image__hero--desktop {
    display: block;
  }

  .image__logo,
  .header,
  .paragraph,
  .slider--input {
    margin-left: 7vw;
  }

  .slider--icon-arrow {
  }
}
